body {
	width: 50%;
	margin: 0 auto;
	color: #fff;
}

.red {
	background-color: red;
	float: left;
	width: 25%;
}
.light-green {
	background-color: #0f0;
	margin-left: 25%;
}

.blue {
	background-color: #00f;
	float: right;
	width: 30%;
}

.black {
	background-color: #000;
	margin-right: 30%;
}

.pink {
	background-color: #F0F;
	float: right;
	width: 30%;
}

.light-blue {
	background-color: #0FF;
	float: left;
	width: 30%;
}

.yellow {
	background-color: #FF0;
	margin: 0px 30% 0px 30%;
}
