body {
	width: 50%;
	margin: 100px auto;
}

span,
div div {
	border: solid 2px black;
	width: 50px;
	height: 50px;
}

.block > span:nth-child(2) {
	display: block;
}

.inline {
	display: inline;
}

div > span:nth-child(2) {
	display: inline-block;
}

.list {
	display: list-item;
	list-style-type: upper-alpha;
}
