* {
	box-sizing: border-box;
}

body {
	width: 1000px;
	margin: 100px auto;
}

.aside {
	width: 30%;
	float: left;
	border: 2px dotted black;
	padding: 20px;
}
.main {
	margin-left: 30%;
	border: 2px solid black;
	padding: 15px;
}
