body {
	width: 50%;
	color: #fff;
}

div {
	width: 100px;
	height: 100px;
}

.green {
	background-color: green;
}

.blue {
	background-color: blue;
	position: absolute;
	top: 8px;
	left: 108px;
}

.black {
	background-color: black;
}

.red {
	background-color: red;
	position: absolute;
	top: 108px;
	left: 108px;
}
